legend{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(98, 98, 184);
    
    
}
fieldset{
    text-align: center;
    margin-left: auto;
    margin-right: auto ;
    

}
button{
    background: rgb(206, 206, 224);
    width: 150px;
    height: 30px;
}